<head th:fragment="head" th:with="title=${title} ?: 'Home'">
  <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8" />
  <meta name="viewport" content="width= device-width, initial-scale=0.1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title th:text="${title}"></title>

  <!-- th style replace -->
  <!-- Bootstrap core CSS -->
  <link
    rel="stylesheet"
    href="css/bootstrap.min.css"
    type="text/css"
  />
  <!-- Custom styles-->
  <link rel="stylesheet" href="css/estilos.css" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
