<!DOCTYPE html>
<html lang="es">

    <div th:replace="layouts/styles :: head"></div>
    <body>
<!-- th replace header -->
<div th:replace="layouts/header :: header"></div>

     <h1>República Dominicana</h1>

        <div class="container marketing">
      
          
          <div class="row">
            <div class="col-lg-4">
              <img  src="imagenes/merengue.jpeg">
              <h2>Merengue</h2>
              <p> Es un estilo de baile y música caribeña en tiempos 2/4.</p>
             
            </div>
            <div class="col-lg-4">
              
              <img src="imagenes/gastronomia.jpeg">
              <h2>Gastronomia</h2>
              <p> Es el resultado de una mezcla de sincretismo étnico-cultural indígena, español y africano. Presenta las características de una cocina criolla.</p>
              
            </div>
            <div class="col-lg-4">
              <img src="imagenes/bachata.jpeg">
              <h2>Bachata</h2>
              <p>Es un género musical bailable que nace en la República Dominicana a principio de los años 60.</p>
              
            </div>
          </div>
      
      
         
      
          <hr class="featurette-divider">
          <div class="mb-4">
            <h1>Lugares turísticos de República Dominicana</h1>
          </div>
          <th:block th:each="sitio : ${sitios}">
            <a th:href="@{/sitio(id=${sitio.id})}" class="d-block linkSitio">
            <div class="row featurette p-3">
              <!--impar-->
              
                <div class="col-md-5 d-flex align-items-center" th:if="${sitio.id} % 2 == 0">
                  <div class="w-100 h-100 d-flex justify-content-center align-items-center align-content-center">
                    <img th:src="${sitio.image}" height="350px" width="350px" class="rounded-circle align-self-center">
                  </div>
                </div>
                <div class="col-md-7" th:if="${sitio.id} % 2 == 0">
                  <h2 class="featurette-heading" th:text="${sitio.title}"></h2>
                  <p class="lead" th:text="${sitio.paragraph}"></p>
                </div>

              
              <!--par-->
              <div class="col-md-7" th:unless="${sitio.id} % 2 == 0">
                <h2 class="featurette-heading" th:text="${sitio.title}"></h2>
                <p class="lead" th:text="${sitio.paragraph}"></p>
              </div>
              <div class="col-md-5 d-flex align-items-center" th:unless="${sitio.id} % 2 == 0">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center align-content-center">
                  <img th:src="${sitio.image}" height="350px" width="350px" class="rounded-circle align-self-center">
                </div>
              </div>

              

            </div>
        
           
          </a>
           <hr class="featurette-divider">
          </th:block>

    
      
        </div>
        <!-- th replace footer-->
        <div th:replace="layouts/footer :: footer"></div>
        <!-- th replace scripts-->
          
    </body>
</html>
