<!DOCTYPE html>
<html lang="es">
    <head>

<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
<meta name="viewport" content="width= device-width, initial-scale=0.1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>BestPlaces</title>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="estilos.css">
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<link rel="stylesheet" href="estilos.css">
    </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: beige;" >
          <img src="imagenes/icono.jpeg" width="50px" height="50px"> 
          <a class="navbar-brand" href="/" >BestPlaces</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="sobrenosotros">Sobre Nosotros<span class="sr-only"></span></a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="nuestragente">Nuestra Gente<span class="sr-only"></span></a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="razones">10 Razones<span class="sr-only"></span></a>
                </li>
              </ul>
            </div>
          </nav>
          
      </header>

          <h1>Nuestra Gente</h1>
          <p></p>
          <p></p>
          
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading"></h2>
              <p class="lead">Los dominicanos tienen la reputación de ser de las personas más amistosas que puedes conocer. Destilan pasión, en la velocidad a la que hablan, en la forma en que se visten y bailan, y en el abrazo a su prójimo, ya sea vecino o visitante. Su energía explosiva podría explicarse en su mezcla de raíces taínas, africanas y europeas. Pero también otras comunidades europeas, asiáticas y de Oriente Medio han influido y enriquecido el paisaje cultural de República Dominicana desde el siglo XIX, convirtiendo a la población y la cultura en un fascinante mestizaje. Verás cómo nuestras numerosas influencias se manifiestan a través de las regiones en la comida, la música, las celebraciones y las costumbres. </p>
            </div>
            <div class="col-md-5">

           <img src="imagenes/dominicana-03.gif" height="350px" width="350px">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Orígenes taínos</h2>
              <p class="lead"> Los primeros habitantes de República Dominicana fueron los valientes y hábiles indígenas, Taíno-Arawak, que se establecieron por primera vez en este lado de la isla antes de la llegada de Cristóbal Colón y los españoles. Los taínos tenían múltiples reinos, cada uno gobernado por un jefe o cacique, y coexistían pacíficamente. Hubo varios valientes líderes taínos que se rebelaron contra la colonización y esclavitud española. El Cacique Caonabo, de la región de Samaná fue el primero en dirigir una revuelta.

                 </p>
            </div>
            <div class="col-md-5 order-md-1">
             <img src="imagenes/tainos.jpeg" height="350px" width="350px">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Los dominicanos hoy</h2>
              <p class="lead"> La cortesía y hospitalidad son valores centrales, particularmente en las áreas rurales. Ayudar a los visitantes o vecinos, y compartir un plato de comida son actividades normales. La familia tiene una gran importancia, debe ser cuidada y apreciada. Ve a la playa o ríos los fines de semana y descubrirás el amor de los dominicanos por pasar tiempo con sus seres queridos, cocinando al aire libre y compartiendo risas. </p>
             
           
            </div>
            <div class="col-md-5">
              <img src="imagenes/hoy.jpg" height="350px" width="350px">
            </div>
          </div>
      
          <hr class="featurette-divider">
          
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Tradiciones</span></h2>
              <p class="lead">Mientras que ciertas tradiciones son cada vez menos practicadas en las ciudades en comparación al pasado, aún permanece la importancia de dos temporadas, principalmente en las zonas rurales, y que son celebradas en familia: la Navidad y la Pascua.</p>
            </div>
            <div class="col-md-5">
              <img src="imagenes/tradiciones.jpg" height="350px" width="350px">
            </div>
          </div>
          <hr class="featurette-divider">

     
      
        </div>
          <footer> &#169 CopyRight 2020  Shantal Suero, Miguel A. Peña, Ezequiel Pérez. Todos los Derechos reservados. ITLA</footer>
    </body>
</html>