<!DOCTYPE html>
<html lang="es">
  <div th:replace="layouts/styles :: head"></div>
  <body>
<!-- th replace header -->
<div th:replace="layouts/header :: header"></div>

<div class="container">
          <h1>Nuestra Gente</h1>
          <p></p>
          <p></p>
          
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading"></h2>
              <p class="lead">Los dominicanos tienen la reputación de ser de las personas más amistosas que puedes conocer. Destilan pasión, en la velocidad a la que hablan, en la forma en que se visten y bailan, y en el abrazo a su prójimo, ya sea vecino o visitante. Su energía explosiva podría explicarse en su mezcla de raíces taínas, africanas y europeas. Pero también otras comunidades europeas, asiáticas y de Oriente Medio han influido y enriquecido el paisaje cultural de República Dominicana desde el siglo XIX, convirtiendo a la población y la cultura en un fascinante mestizaje. Verás cómo nuestras numerosas influencias se manifiestan a través de las regiones en la comida, la música, las celebraciones y las costumbres. </p>
            </div>
            <div class="col-md-5">

           <img src="imagenes/dominicana-03.gif" height="350px" width="350px">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Orígenes taínos</h2>
              <p class="lead"> Los primeros habitantes de República Dominicana fueron los valientes y hábiles indígenas, Taíno-Arawak, que se establecieron por primera vez en este lado de la isla antes de la llegada de Cristóbal Colón y los españoles. Los taínos tenían múltiples reinos, cada uno gobernado por un jefe o cacique, y coexistían pacíficamente. Hubo varios valientes líderes taínos que se rebelaron contra la colonización y esclavitud española. El Cacique Caonabo, de la región de Samaná fue el primero en dirigir una revuelta.

                 </p>
            </div>
            <div class="col-md-5 order-md-1">
             <img src="imagenes/tainos.jpeg" height="350px" width="350px">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Los dominicanos hoy</h2>
              <p class="lead"> La cortesía y hospitalidad son valores centrales, particularmente en las áreas rurales. Ayudar a los visitantes o vecinos, y compartir un plato de comida son actividades normales. La familia tiene una gran importancia, debe ser cuidada y apreciada. Ve a la playa o ríos los fines de semana y descubrirás el amor de los dominicanos por pasar tiempo con sus seres queridos, cocinando al aire libre y compartiendo risas. </p>
             
           
            </div>
            <div class="col-md-5">
              <img src="imagenes/hoy.jpg" height="350px" width="350px">
            </div>
          </div>
      
          <hr class="featurette-divider">
          
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Tradiciones</span></h2>
              <p class="lead">Mientras que ciertas tradiciones son cada vez menos practicadas en las ciudades en comparación al pasado, aún permanece la importancia de dos temporadas, principalmente en las zonas rurales, y que son celebradas en familia: la Navidad y la Pascua.</p>
            </div>
            <div class="col-md-5">
              <img src="imagenes/tradiciones.jpg" height="350px" width="350px">
            </div>
          </div>
          <hr class="featurette-divider">

     
      
        </div>
      </div>
          <footer> &#169 CopyRight 2020  Shantal Suero, Miguel A. Peña, Ezequiel Pérez. Todos los Derechos reservados. ITLA</footer>
    </body>
</html>