<!DOCTYPE html>
<html lang="es">

  <div th:replace="layouts/styles :: head"></div>
  <body>
<!-- th replace header -->
<div th:replace="layouts/header :: header"></div>

  <p></p>
  <p></p>
  <p></p>
  <h1>Sobre nosotros</h1>
  <p></p>
  <p></p>
  <p></p>
  <center>
    <img src="imagenes/rd.jpeg" height="200px">

    <img src="imagenes/dominicana-03.gif" width="200px" height="200px">
    <img src="imagenes/personas.jpeg" height="200px">
  </center>
  <div class="container marketing">
  
    <p></p>
    <p></p>
    <p></p>
    <p>"Somos una pequeña comunidad en la cual nos dedicamos a ofrecer a nuestros extranjeros/as y dominicanos/as sugerencias de lugares incréibles que tienen que visitar cuando esten en nuestro país, la hermosa República Dominicana"</p>
    <p></p>
    <p></p>
    <center>
      <h4>¡No dejes de visitar la hermosa República Dominicana!</h4>
    </center>
  </div>
  









  <footer>
    &#169 CopyRight 2020 Shantal Suero, Miguel A. Peña, Ezequiel Pérez. Todos los Derechos reservados. ITLA
  </footer>
</body>
</html>
